{
  "singleQuote": true,
  "trailingComma": "all",
  "proseWrap": "never",
  "arrowParens": "avoid",
  "printWidth": 120,
  "overrides": [
    {
      "files": "*.*rc",
      "options": { "parser": "json" }
    }
  ]
}
